@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// @import 'variables';

// place global css here
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    -moz-tab-size: 4;
    tab-size: 4;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: blue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.callout {
    background-color: #5797a9;
}

.container-1 {
    max-height: 86vh;
    height: 86vh;
    overflow: scroll;
}

.error-message {
    display: flex;
    justify-content: center;
}

.error-style {
    max-width: fit-content;
    padding: 0.5% 1.5% 0.5% 1.5%;
    margin: 1% 0 0 0;
    background-color: #ff0000;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-weight: bold;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input {
    margin-left: 1rem;
}

.list-items {
    color: #282c34;
}

.list-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #282c34;
}
